flatmates/Temp/
flatmates/Library/
flatmates/Assembly-CSharp-vs.csproj
flatmates/Assembly-CSharp.csproj
flatmates/flatmates-csharp.sln
flatmates/flatmates.sln
flatmates/obj/
flatmates/flatmates-csharp.v11.suo

*.userprefs
flatmates/Assembly-CSharp-Editor-vs.csproj
flatmates/Assembly-CSharp-Editor.csproj
flatmates/flatmates-csharp.suo
flatmates/flatmates.v11.suo
flatmates/Build/
/flatmates/Assembly-CSharp-Editor-vs.csproj
/flatmates/Assembly-CSharp-vs.csproj
/flatmates/Assembly-CSharp.csproj
/flatmates/Assembly-CSharp-Editor.csproj
/flatmates/Assembly-CSharp-Editor.csproj
*.suo
flatmates/Assembly-CSharp-firstpass-vs.csproj
flatmates/Assembly-CSharp-firstpass.csproj
flatmates/Assembly-UnityScript-Editor-vs.unityproj
flatmates/Assembly-UnityScript-Editor.unityproj
flatmates/Assembly-UnityScript-firstpass-vs.unityproj
flatmates/Assembly-UnityScript-firstpass.unityproj
*.db
flatmates/Build.rar
